*{
    margin:0%;
    padding:0%;
}

 
body{
    background-image: url('images/picture.jpeg');
    background-size: cover;
    background-attachment: fixed;
    
}
.container{
    
    margin-bottom: 5%;
}